
pmp/.Rproj.user/91206685/sources/s-C8886526/18A33F1B
pmp/.Rproj.user/91206685/sources/prop/419B9CB4
pmp/.Rproj.user/91206685/sources/prop/419B9CB4
pmp/.Rproj.user/91206685/sources/s-C8886526/18A33F1B
pmp/.Rhistory
pmp/.Rproj.user/shared/notebooks/paths
pmp/.Rproj.user/91206685/sources/s-C8886526/lock_file
pmp/.Rproj.user/91206685/saved_source_markers
pmp/.Rproj.user/91206685/rmd-outputs
pmp/.Rproj.user/91206685/pcs/workbench-pane.pper
pmp/.Rproj.user/91206685/console06/INDEX001
pmp/.Rproj.user/91206685/cpp-definition-cache
pmp/.Rproj.user/91206685/pcs/files-pane.pper
pmp/.Rproj.user/91206685/pcs/source-pane.pper
pmp/.Rproj.user/91206685/pcs/windowlayoutstate.pper
pmp/.Rproj.user/shared/notebooks/paths
